*{
    margin: 0;
    padding: 0;
}
.mainCotainer{
    height: 100vh;
    width:100vw;
}
.heading{
    height:20vh;
    width:100vw;
    background:linear-gradient(to right,#000328,#00458e);
    display:flex;
    justify-content: center;
    align-items:center;
}
@keyframes headingAnimation {
  0% {
    transform: translateX(-120vw) rotate(-720deg);
    opacity: 0;
  }
  70% {
    transform: translateX(10vw) rotate(30deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.heading h1{
    animation: headingAnimation 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1 ;
    font-size: 50px;
    color:white;
    text-align: center;
    font-family: "Sixtyfour Convergence";
    text-shadow: 2px -2px darkblue;
    border:2px solid white;
    cursor:default;
    display: flex;
}
@keyframes opacityAnime{
    0%{
        opacity: 0.5;
        background:linear-gradient(to right,#e20b8c,#f84b00);
        
    }
    50%{
        opacity: 0.5;
        background:linear-gradient(to right,#436c89,#8b2c40);
    }
    100%{
        opacity: 1;
        background:linear-gradient(to right,#76030f,#121b67);
    }
}
.content{
    height:80vh;
    width:100vw;
    background-color: red;
    animation: opacityAnime 3s 1 linear;
    background:linear-gradient(to right,#76030f,#121b67);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countDisplay{
    height: 50%;
    width: 20%;
    background-color: black;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-family: "Sixtyfour Convergence";
    
}
.countButton{
    height: 50px;
    width: 200px;
    margin-top:30px;
    border:10px solid black;
    border-radius:20px;
    background:linear-gradient(to right,#436c89,#8b2c40);
    font-size: 25px;
    text-align:center;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.displayCount.animation{
    transform: scale(2);
}
.displayCount{
    transition:all 2s ease-in-out;

}